.static-width{
    width: 300px;
    height: 300px;
    background: url(https://i.pinimg.com/originals/38/4c/b4/384cb498960458fb15a6eacebc6aeaa0.gif) no-repeat top center;
    background-color: tomato;
    background-size: 400px;
}

